body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #92a8d1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App Background */
/* .appBackground {
  background-color: #92a8d1;
} */

/* StartHome Component */
.startHomeDiv {
  /* display: block;
  margin: auto;
  margin-top: 19%; */
  /* margin-left: 30%;
  margin-right: 35%; */
  /* width: 41%; */
  /* background-color: #92a8d1; */
}

.startHomeContainerDiv{
  display: block;
  margin: auto;
  width: 35%;
  height: 18%;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 100px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  top: 35%;
  left: 30%;
}

.startHomeHeader {
  display: block;
  margin: auto;
  /* margin-top: 19%; */
  font-size: 50px;
  /* width: 41%; */
  position: absolute;
  top: 10%;
  left: 6%;
}

.startHomeButtons {
  display: block;
  margin: auto;
  font-size: 50px;
  width: 56%;
  position: absolute;
  top: 55%;
  left: 22%;
}

.startHomeButtonBand {
  width: 200px
}

.startHomeButtonListener{
  width: 200px
}

/* Login Screens */

.loginForm {
  display: block;
  margin: auto;
  margin-top: 18%;
  margin-left: 35%;
  width: 100%
}

/* SignUp Screens */

.listenerSignUpForm {
  display: block;
  margin: auto;
  margin-top: 18%;
  margin-left: 35%;
  width: 100%
}

.bandSignUpForm {
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-left: 35%;
  width: 100%
}

/* Band Container */

.bandContainerHeader{
  display: block;
  margin: auto;
  /* font-size: 50px; */
  width: 20%;
  position: absolute;
  top: 5%;
  left: 10%;
}

.displayFavoritesButton{
  display: block;
  margin: auto;
  /* font-size: 50px; */
  width: 6%;
  position: absolute;
  top: 11%;
  left: 10%;
}

.bandContainerList{
  display: block;
  margin: auto;
  /* font-size: 50px; */
  width: 40%;
  position: absolute;
  top: 15%;
  left: 10%;
}

.bandPreviewComponent {
  width: 50%;
  float: right;
  left: 4%;
  padding-top: 60px;
  padding-right: 80px;
}

.bandPreviewMembers{
  font-size: 30pt;
  margin: auto;
  padding-top: 15px;
}

.bandPreviewBio{
  padding-right: 2.5%;
  padding-top: 10pt;
  font-size: 13pt;
}

/* Band Component */
.bandContainerBandListItem {
  width: 30%
}

.bandContainerBandListItemHeader:hover{
  color:#7474ff;
  transition: all 0.3s ease;
}

/* Band Details */

.bandDetailsLeft{
  display: block;
  margin: auto;
  width: 47%;
  float: left;
  padding-top: 60px;
  padding-left: 80px;
  max-height: 1150px;
  overflow: scroll
}

.bandDetailsHeader{
  display: block;
  margin: auto;
  font-size: 50px;
  position: relative;
}

.genreHeader{
  margin: auto;
  font-size: 28px;
  padding-top: 11px;
  color: #898585;
}

.qAndAHeader{
  display: block;
  margin: auto;
  padding-top: 2%;
  font-size: 22pt;
}

.qAndAContainerDiv{
  padding-top: 2%;
  padding-right: 2%;
}

.bandDetailsQuestionAndAnswerDiv{

}

.bandDetailsQuestionHeader{
  font-size: 15pt;
}

.bandDetailsAnswer{
  font-size: 11.5pt;
}

.bandDetailsRight{
  width: 50%;
  float: right;
  left: 4%;
  padding-top: 60px;
  padding-right: 80px;

}

.bandDetailsImage{
  max-height: 590px;
  overflow: hidden;
}

.bandMembersHeader{
  font-size: 20pt;
  margin: auto;
  padding-top: 15px;
}

.listenerBandDetailsButtons{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.followUnfollowButton{
  width: 170px;
}

.askAQuestionButton{
  width: 170px;
}

.goBackToBandsButton{
  width: 170px;
}

.viewQuestionsButton{
  padding-top: 20px;
}

.bandDetailsBioHeader{
  /* display: block; */
  margin: auto;
  font-size: 20pt;
  padding-top: 15px;
}

.bandDetailsBio{
  padding-right: 2.5%;
  padding-top: 15pt;
  font-size: 13pt;
}

/* Question Container */

.questionsContainerHeader{
  display: block;
  margin: auto;
  width: 35%;
  position: absolute;
  top: 12%;
  left: 25%;
}

.questionContainerBackButton{
  display: block;
  margin: auto;
  position: absolute;
  top: 17%;
  left: 25%;
}

.questionContainer{
  display: block;
  margin: auto;
  width: 35%;
  position: absolute;
  top: 22%;
  left: 25%;
}

.questionObj{

}

.answerDeleteButtons{

}

.answerFormDiv {
  display: block;
  margin: auto;
  width: 35%;
  position: absolute;
  top: 22%;
  left: 50%;
}

.answerFormLabelHeader{
  display: block;
  margin: auto;
  width: 35%;
  position: absolute;
  top: 0%;
  left: 0%;
}
